
<header class="special container">
    <span class="icon fa-area-chart"></span>
    <h2>Github repository <strong>statistics</strong></h2>
    <p>This graph shows the number of additions and deletions per week <br>
        for a given github username or organization and one of his public repository.</p>
</header>

<section class="wrapper style4 special container">
    <div class="row">
        <div class="6u 12u(narrower)">
            <section>
                <header>
                    <h3>Provide the data</h3>
                </header>
                <form ng-submit="vm.watchStats(vm.userName, vm.repoName)" >
                    <div class="row 50%">
                        <div class="6u 12u(mobile)">
                            <input type="text" ng-model="vm.userName" bg-focus="vm.emptyRepos()" ng-blur="vm.getRepos(vm.userName)" name="username" placeholder="Github username" />
                            <small class="warning">{{ vm.userNameError }}</small>
                        </div>
                        <div class="6u 12u(mobile)">
                            <input list="repositories" ng-model="vm.repoName" ng-disabled="vm.selectDisabled" type="text" id="repositories-choices" placeholder="Select repository">
                            <datalist id="repositories">
                                <option ng-repeat="repo in vm.repos" value="{{ repo }}">
                            </datalist>
                            <small class="warning">{{ vm.repoNameError }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <ul class="buttons">
                                <li><input type="submit" class="special" value="Watch statistics" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            </section>

        </div>
        <div class="6u 12u(narrower)">

            <section>
                <header>
                    <h3>Your history</h3>
                </header>
                <!--<p>Select a github repo in the list</p>-->
                <!-- TODO: ng-repeat -->
                <ul class="small-font">
                    <li ng-repeat="history in vm.history | orderBy:vm.date:true | limitTo:7">
                        {{ history.date | date:"dd/MM/yyyy 'at' hh:mma" }} -
                        <a href="" ng-click="vm.displayStatsFromDB(history._id)">
                            {{ history.repo}}
                        </a>
                    </li>
                </ul>
                <!--
                <select>
                    <option value="volvo">No queries for now</option>
                </select>
                -->
            </section>

        </div>
    </div>


    <div class="row">
        <br>
        <p><strong>{{ vm.responseCallback }}</strong></p>
        <canvas id="line" class="chart chart-line" chart-data="vm.data"
                chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
                chart-click="vm.onClick" chart-colors="vm.colors">
        </canvas>
    </div>
</section>
